.show-on-request {
    display: none;
}

.htmx-request .show-on-request {
    display: unset;
}

.htmx-request.show-on-request {
    display: unset;
}


.htmx-request .hide-on-request {
    display: none;
}

.htmx-request.hide-on-request {
    display: none;
}

.dropdown-content {
  min-width: 200px;
}

.dropdown:hover .dropdown-content {
    display: flex;
}

.dropdown:hover .drop-button {
    background-color: rgb(203 213 225 / var(--tw-bg-opacity, 1));
}