body { 
    --site-width: 1200px; 
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: scroll;
}

.show-on-request {
    display: none;
}

.htmx-request .show-on-request {
    display: unset;
}

.htmx-request.show-on-request {
    display: unset;
}


.htmx-request .hide-on-request {
    display: none;
}

.htmx-request.hide-on-request {
    display: none;
}

.dropdown-content {
  min-width: 200px;
}

.dropdown:not(.disabled):hover .dropdown-content {
    display: flex;
}

.dropdown:not(.disabled):hover .drop-button {
    background-color: rgb(203 213 225 / var(--tw-bg-opacity, 1));
}

.toast {
    animation: slideIn .25s ease-in-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateY(100%);
  }

  to {
    transform: translateY(0);
  }
}

chart-js {
  display: block;
}

.w-site {
    max-width: var(--site-width);
}