<div class="flex flex-row h-full px-2">
    <div class="flex flex-col gap-2 overflow-y-scroll flex-1">
        {% for part in parts %}
            {{ part|safe }}
        {% endfor %}
    </div>
    <div class="flex-1 text-right">
        {% include "conference_settings.html" %}

        {{ stats.duration_minutes }} minutes

        <div class="grid grid-cols-2 gap-3">
             {% for chart_config in chart_configs %}
                <charts-js
                    style="display:block; height: 200px;" 
                    config='{{ chart_config }}'
                    {% if loop.last %}
                        class="col-span-2"
                    {% endif %}
                ></charts-js>
            {% endfor %}
        </div>
       

        {% for category_tags_repartition in stats.categories_tags_repartition %}
        <!-- <div class="py-2">
            <div class="font-semibold">{{ category_tags_repartition.category }}</div>

            {% for tag in category_tags_repartition.tags %}
                <div> {{ tag.tag }} | {{ tag.duration_minutes }} minutes </div>
            {% endfor %}
        </div> -->
        {% endfor %}
    </div>    
</div>
