<!DOCTYPE html>
<html lang="fr" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="assets/htmx.min.js"></script>
    <script src="assets/tailwind.js"></script>
    <script src="assets/idiomorph.min.js" integrity="sha384-JcorokHTL/m+D6ZHe2+yFVQopVwZ+91GxAPDyEZ6/A/OEPGEx1+MeNSe2OGvoRS9" crossorigin="anonymous"></script>
    <script src="assets/idiomorph-ext.min.js" integrity="sha384-szktAZju9fwY15dZ6D2FKFN4eZoltuXiHStNDJWK9+FARrxJtquql828JzikODob" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="assets/style.css">
    <title>Conference Maker</title>
</head>

<body class="h-full" hx-ext="morph">
    <div class="flex flex-col h-full">
        <div class="flex-1 min-h-0 overflow-hidden flex flex-col gap-3">
            <div class="flex flex-row bg-slate-100">
                <div class="dropdown relative inline-block">
                    <button class="drop-button bg-slate-100 p-1 px-3 text-left hover:bg-slate-200">Fichier</button>
                    <div class="dropdown-content absolute hidden flex-col shadow-md bg-white">
                        <button 
                            class="bg-slate-200 p-2 text-left hover:bg-slate-300" 
                            hx-post="reset"  hx-target="#conference" hx-swap="innerHTML"
                        >
                            Recommencer
                        </button>
                        <button 
                            class="bg-slate-200 p-2 text-left hover:bg-slate-300" 
                            hx-post="import"  hx-target="#conference" hx-swap="innerHTML"
                        >
                            Ouvrir
                        </button>
                        <button 
                            class="bg-slate-200 p-2 text-left hover:bg-slate-300" 
                            hx-post="export" hx-swap="none"
                        >
                            Enregistrer
                        </button>
                    </div>
                </div>
                <div class="dropdown relative inline-block">
                    <button class="drop-button bg-slate-100 p-1 px-3 text-left hover:bg-slate-200">Edition</button>
                    <div class="dropdown-content absolute hidden flex-col shadow-md bg-white">
                        <button 
                            class="bg-slate-200 p-2 text-left hover:bg-slate-300" 
                            hx-post="add-cover-slide-part" hx-target="#conference" hx-swap="innerHTML"
                        >
                            Ajouter une transition
                        </button>
                    </div>
                </div>
                <div class="dropdown relative inline-block">
                    <button class="drop-button bg-slate-100 p-1 px-3 text-left hover:bg-slate-200">Génération</button>
                    <div class="dropdown-content absolute hidden flex-col shadow-md bg-white">
                        <button 
                            class="bg-slate-200 p-2 text-left hover:bg-slate-300 disabled:opacity-50" 
                            hx-post="download" hx-swap="none" hx-disabled-elt="this"
                        >
                            <span class="hide-on-request">Conférence (pptx)</span>
                            <span class="show-on-request">Génération en cours...</span>
                        </button>
                        <button 
                            class="bg-slate-200 p-2 text-left hover:bg-slate-300 disabled:opacity-50" 
                            hx-post="generate-pdf" hx-swap="none" hx-disabled-elt="this"
                        >
                            <span class="hide-on-request">Conférence (pdf)</span>
                            <span class="show-on-request">Génération en cours...</span>
                        </button>
                        <button 
                            class="bg-slate-200 p-2 text-left hover:bg-slate-300 disabled:opacity-50" 
                            hx-post="generate-grid" hx-swap="none"
                        >
                            Grille d'évaluation
                        </button>
                        <button 
                            class="bg-slate-200 p-2 text-left hover:bg-slate-300 disabled:opacity-50" 
                            hx-post="generate-kit" hx-swap="none" hx-disabled-elt="this"
                        >
                            <span class="hide-on-request">Kit complet</span>
                            <span class="show-on-request">Génération en cours...</span>
                        </button>
                    </div>
                </div>
            </div>

            <div id="conference" class="flex-1 min-h-0">
                {{ conference|safe }}
            </div>
        </div>


        <div class="border-t-2 border-slate-200">
            <h1>Modules !</h1>
            <form hx-trigger="change, keyup from:[name='search'] delay:500ms" id="module-search-form" hx-get="search-modules" hx-target="#modules-list" hx-swap="innerHTML" class="flex gap-6 items-start">
                <div class="inline-flex flex-col">
                    <label for="search">Recherche</label>
                    <input name="search" placeholder="search..." />
                </div>
                {% for tag_category in tags_categories %}
                    <div class="inline-flex flex-col">
                        <label for="category__{{ tag_category.name }}">{{ tag_category.name }}</label>
                        <select name="category__{{ tag_category.name }}">
                            <option value="">--</option>
                            {% for tag in tag_category.tags %}
                                <option value="{{tag.tag}}">{{ tag.tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </form>
            <div id="modules-list" class="flex flex-row gap-4 overflow-x-scroll">
                {{ modules_list|safe }}
            </div>
        </div>
    </div>
    <section id="toast-container" class="absolute bottom-0 right-0 p-3 flex flex-col gap-3 overflow-hidden"></section>
    <script>
        function removeToast(toast_id) {
            document.querySelector('#toast-' + toast_id)?.remove();
        }
    </script>
</body>

</html>