<!DOCTYPE html>
<html lang="fr" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="assets/htmx.min.js"></script>
    <script src="assets/tailwind.js"></script>
    <title>Conference Maker</title>
</head>

<body class="h-full">
    <div class="flex flex-col h-full">
        <div class="flex-1 min-h-0 overflow-hidden flex flex-col">
            <div class="flex flex-row justify-between">
                <h1>Votre conférence !</h1>
                <div class="flex flex-row gap-2">
                    <button hx-post="download" hx-swap="none" class="bg-slate-200 p-2 rounded hover:ring-2 ring-slate-500">Générer la conférence</button>
                    <button hx-post="export" hx-swap="none" class="bg-slate-200 p-2 rounded hover:ring-2 ring-slate-500">Enregistrer</button>
                    <button hx-post="import" hx-target="#conference" hx-swap="innerHTML" class="bg-slate-200 p-2 rounded hover:ring-2 ring-slate-500">Charger</button>
                    <button class="bg-slate-200 p-2 rounded hover:ring-2 ring-slate-500" hx-post="reset"
                        hx-target="#conference"
                        hx-swap="innerHTML">Recommencer</button>
                </div>
            </div>

            <div id="conference" class="flex-1 min-h-0">
                {{ conference|safe }}
            </div>
        </div>


        <div class="border-t-2 border-slate-200">
            <h1>Modules !</h1>
            <form hx-trigger="change, keyup from:input delay:500ms" hx-get="search-modules" hx-target="#modules-list" hx-swap="innerHTML" class="flex gap-6 items-start">
                <div class="inline-flex flex-col">
                    <label for="search">Recherche</label>
                    <input name="search" placeholder="search..." />
                </div>
                {% for tag_category in tags_categories %}
                    <div class="inline-flex flex-col">
                        <label for="category__{{ tag_category.name }}">{{ tag_category.name }}</label>
                        <select name="category__{{ tag_category.name }}">
                            <option value="">--</option>
                            {% for tag in tag_category.tags %}
                                <option value="{{tag.tag}}">{{ tag.tag }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endfor %}
            </form>
            <div id="modules-list" class="flex flex-row gap-4 overflow-x-scroll">
                {{ modules_list|safe }}
            </div>
        </div>
    </div>
</body>

</html>