<div class="flex flex-row h-full">
    <div class="flex flex-col gap-2 overflow-y-auto flex-1">
        {% for module in modules %}
            <div class="w-full flex flex-row gap-2 p-3 bg-slate-100 rounded">
                <img class="max-w-[150px]" src="{{ module.image_url }}">
                <div class="flex flex-col">
                    <p class="font-semibold">{{ module.title }}</p>
                    <p class="text-slate-500">{{ module.description }}</p>
                </div>
                <div class="flex flex-col items-end flex-1 justify-between">
                    <div>
                        <p>{{ module.duration_minutes }} minutes</p>
                    </div>
                    <div class="flex flex-col items-end text-xs">
                        {% for tags_category in module.tags_categories %}
                            <p><span class="font-semibold">{{ tags_category.category }}</span> : {% for tag_details in tags_category.tags_details %} {{ tag_details.tag.name }} ({{ tag_details.importance }}%) {% endfor %}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="flex-1 text-right">
        {{ stats.duration_minutes }} minutes

        <!-- <div style="width: 200px;" hx-preserve id="charto"><canvas id="chart"></canvas></div>
        <script>
            var charto;
            if (!charto) {
                charto = new Chart(
                    document.getElementById('chart'),
                    {
                    type: 'pie',
                    data: {
                        datasets: [{
                            data: [0.7,'{{ stats.chart }}']
                        }],
                        labels: [
                            'Comprendre',
                            'Agir'
                        ]
                    }
                    }
                );
            }
            charto.data.datasets =  [{
                data: [0.7,'{{ stats.chart }}']
            }];
            charto.update('none');
        </script> -->
    </div>    
</div>
