<!DOCTYPE html>
<html lang="en" class="h-full">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.2"
        integrity="sha384-Y7hw+L/jvKeWIRRkqWYfPcvVxHzVzn5REgzbawhxAuQGwX1XWe70vji+VSeHOThJ"
        crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.4.1/chart.umd.js" integrity="sha512-ZwR1/gSZM3ai6vCdI+LVF1zSq/5HznD3ZSTk7kajkaj4D292NLuduDCO1c/NT8Id+jE58KYLKT7hXnbtryGmMg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Conference Maker</title>
</head>

<body class="h-full">
    <div class="flex flex-col h-full">
        <div class="flex-1 min-h-0 overflow-hidden flex flex-col">
            <div class="flex flex-row justify-between">
                <h1>Votre conférence !</h1>
                <div class="flex flex-row gap-2">
                    <form action="download" method="POST" hx-disable>
                        {% csrf_token %}
                        <button class="bg-slate-200 p-2 rounded hover:ring-2 ring-slate-500">Télécharger</button>
                    </form>
                    <form action="export" method="GET" hx-disable>
                        <button class="bg-slate-200 p-2 rounded hover:ring-2 ring-slate-500">Exporter</button>
                    </form>
                    <button class="bg-slate-200 p-2 rounded hover:ring-2 ring-slate-500" hx-get="request-import" hx-swap="afterend">Importer</button>
                    <button class="bg-slate-200 p-2 rounded hover:ring-2 ring-slate-500" hx-post="reset"
                        hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-target="#conference"
                        hx-swap="innerHTML">Recommencer</button>
                </div>
            </div>

            <div id="conference" class="flex-1 min-h-0">
                {{ conference }}
            </div>
        </div>


        <div class="border-t-2 border-slate-200">
            <h1>Modules !</h1>
            <div class=" flex flex-row gap-4">
                {% for module in modules %}
                <div class="p-3 flex flex-col items-center cursor-pointer hover:bg-slate-100 rounded"
                    hx-post="add-module/{{ module.id }}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-target="#conference" hx-swap="innerHTML">
                    <img class="max-w-[250px]" src="{{ module.image.url }}">
                    {{ module.title }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>